<!-- <div class="parent-div text-center justify-content-center align-items-center" style="height:100vh;">
    <div class="child-div" style="border:black 10px;"> kisan: removing extra lines as these are used to center the login form but not required-->
        <div class="row"> <!-- kisan: used bootstrap grid structure to create 3 columns to keep content on middle -->
            <!-- <div class="col"></div> kisan: removing extra lines as these are used to center the login form but not required-->
            <div class="col-6 center-div"> <!-- kisan: How to know where to add center div 50% top left move code. check in devloper tool and find the element which is wrapping the conent only and if you select its immediate top level element then it is selecting higher level element with more space and can contain/conataining more other elements and this specific element is one of them, then in this case based on this higher div position this selected element move and center itself. but if you apply on some element whose immediate top level component also wrapping the same space like the selected component then how will it move. so the element needs to be in a container like structure then it can move. note: in devtool select this element and its top and child element and see the postion and apply in different these elements and see the difference-->
              <div class="card"> <!-- kisan: used bootstrap card to create a space in which the login form will be kept-->
                <div class="card-body text-center">
                    <h1>Login Page</h1>
                    <form> <!-- kisan: used bootstrap forms to generate a form-->
                        <div class="form-group text-left"> <!-- kisan: here form-group class is used to create a wrapper for the form elements (bootstrap code)-->
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email" name="uName" [(ngModel)]="userName"/> 
                                <!-- 1. kisan: ngModel is used for twoway binding to connect this field with ts file variable by which anywhere the variable value changed other place it will reflect automatically
                                 2. this ngModel is present in formsModule so that needs to be imported available for this component otherwise error
                                 3. in ngModel the variable name should be same as the name of variable present in the ts file, to which you want to point. other details what ever present like name,id dont not affect this ngModel connection, you can put anything there. check the name="" property is different here
                                 4. placeholder is used to display the before text input what to display in that field and id is used to access that element from other place like ts file by js DOM etc.
                                 5. here form-control class is used to main the form elements in the bootstarp form. it is assigned to each element to maintain a uniform decoration (part of bootstrap code)-->
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password" />
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="login()">Login</button> <!-- kisan: here event binding is done by (eventName) e.g. (click) in this on click of click event the mentioned function will be called.-->
                    </form>
                </div>
              </div>
            </div>
            <!-- <div class="col"></div> kisan: removing extra lines as these are used to center the login form but not required -->
          </div>
        <!-- </div>
      </div> -->